
/* HOME PAGE CSS */
html, body {
    margin: 0;
    padding: 0;
}


#flightDisplayContainer{
    left: 50%;
    transform: translateX(-50%);
    position: relative;
    width: 80%;
    height: 80vh;
    outline: darkblue 2px dotted !important;
}

select, input[type=date], .inner {
  width: 190px; /* Adjust the width as needed */
  padding: 5px;
  margin: 10px 0;
}

label {
  display: block; /* Makes each input appear on a new line */
  margin-top: 20px;
}

#headerMenu{
    top: 0;
    height: 40px;
    width: 100%;
    background-color: #313030;
}

#heroshotHeading{
    color: black;
    text-align: center;
    width: fit-content;
    outline: red 2px dotted;
    display: flex;         /* Use flexbox to layout children horizontally */
    flex-wrap: wrap;       /* Allows items to wrap onto the next line if needed */
    align-items: center;   /* Align items vertically in the center */
    justify-content: center; /* Horizontally center the items in the container */
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    font-size: 3.5rem;
    font-family: arial, serif;
}

form{
    outline: red 3px dotted !important;
    width: 80%;
    transform: translateX(12.5%);
}

#websiteContainer{
    outline: hotpink 4px dotted;
    width: 100vw;
}

#flightDetails{
    outline: red 2px dotted;
    text-align: center;
}

#searchFunctionContainer{
    margin-top: 5vh;
    display: flex;         /* Use flexbox to layout children horizontally */
    flex-wrap: wrap;       /* Allows items to wrap onto the next line if needed */
    align-items: center;   /* Align items vertically in the center */
    justify-content: center; /* Horizontally center the items in the container */
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    width: 80%;
    outline: hotpink 2px dotted !important;
}


.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
}

.inner {
  box-sizing: border-box;
  height: 50px;
  padding: 0; /* Adjust as needed */
  line-height: 50px; /* Match height for vertically centering text */
}
.outerLeft{
  box-sizing: border-box;
  height: 50px;
  padding: 0; /* Adjust as needed */
  line-height: 50px; /* Match height for vertically centering text */
  border-top-left-radius: 15px !important;
  border-bottom-left-radius: 15px !important;
}
.outerRight{
  box-sizing: border-box;
  height: 50px;
  padding: 0; /* Adjust as needed */
  line-height: 50px; /* Match height for vertically centering text */
  border-top-right-radius: 15px !important;
  border-bottom-right-radius: 15px !important;
  outline: hotpink 2px dotted !important;

}
.outerLeft, .inner, .outerRight{
    margin: 2px;
    border-color: black !important;
    border-width: 2px;
    background-color: transparent;
    padding-left: 7px;
    padding-right: 7px;
    text-align: center;

}
input[type='date'] {
  /* Reset the default appearance */
  padding: 4px; /* Example */
  margin: 2px;
}

#imageHolder {
    outline: purple 5px dotted !important;
    position: relative;
    height: auto; /* Maintain the aspect ratio of the image */
    width: 80%;
    left: 50%;
    transform: translateX(-50%);
}

#imageOne {
    max-width: 80%; /* Make sure the image can scale down */
    display: block; /* To enable margin auto to work */
    margin-left: auto; /* Center the image horizontally */
    margin-right: auto; /* Center the image horizontally */
    border-radius: 15px;
    width: fit-content;
}











/* VIRGIN CSS */


#flightDetailsVirgin{
    outline: red 2px dotted;
    text-align: center;
}

#websiteContainerVirgin{
    outline: hotpink 4px dotted;
    width: 100vw;
}

#flightDisplayContainerVirgin{
    left: 50%;
    transform: translateX(-50%);
    position: relative;
    width: 80%;
    height: 80vh;
    outline: darkblue 2px dotted !important;
}