<!-- templates/index.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Flight Scraper Home</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css')}}">
</head>
<body>
    <h1 id="test">Welcome to the Flight Scraper</h1>
<form action="/" method="post">
    <label for="airline">Choose an Airline:</label>
    <select id="airline" name="airline">
      <option value="jetstar">Jetstar</option>
      <option value="qantas">Qantas</option>
      <option value="regionalExpress">Rex</option>
      <option value="virgin">Virgin</option>


      <!-- Add more airlines here -->
    </select>
    <!-- Include other form elements here -->
    <button id="scrapeFlightsButton" type="submit" name="action" value="scrapeFlights">Scrape Flights</button>
    <button id="searchButton" type="submit" name="action" value="searchFlights">Search</button>

    <label for="departureAirport">Depart From:</label>
<select id="departureAirport" name="departureAirport">
     <option value="depSydney">Sydney</option>
     <option value="depMelbourneTullamarine">Melbourne (Tullamarine)</option>
</select>

    <label for="arrivalAirport">Arrival Airport:</label>
<select id="arrivalAirport" name="arrivalAirport">
  <option value="arrSydney">Sydney</option>
  <option value="arrMelbourneTullamarine">Melbourne (Tullamarine)</option>
  <!-- Add more airlines here -->
</select>


    <!-- Departure Date Selector -->
<label for="departureDate">Departure Date:</label>
<input type="date" id="departureDate" name="departureDate">

<!-- Return Date Selector -->
<label for="returnDate">Return Date (optional):</label>
<input type="date" id="returnDate" name="returnDate">



</form>


    {% if results %}
        <h2>Scraping Results</h2>
        <ul>
            {% for price, airline, departure in results %}
                <li>{{ price }} - {{ airline }} - {{ departure }}</li>
            {% endfor %}
        </ul>
    {% endif %}

    {% if message %}
        <p>{{ message }}</p>
    {% endif %}


    <div id="htmlBorder">














</div>

<script src="{{ url_for('static', filename='js/script.js')}}"></script>
</body>
</html>
