<!-- templates/index.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Flight Scraper Home</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css')}}">
</head>
<body>

    <div id="websiteContainer">


    <h1 id="heroshotHeading">Millions of flights at the tip of your finger.</h1>
<form action="/" method="post">


    <div id="searchFunctionContainer">

    <label for="airline" class="visually-hidden">Choose Airline</label>
    <select id="airline" class="outerLeft" name="airline">
      <option value="" selected disabled>Airline</option>
      <option value="jetstar">Jetstar</option>
      <option value="qantas">Qantas</option>
      <option value="regionalExpress">Rex</option>
      <option value="virgin">Virgin</option>
      <!-- Add more airlines here -->
    </select>


<label for="departureAirport" class="visually-hidden">Origin</label>
<select id="departureAirport" class='inner' name="departureAirport">
     <option value="" selected disabled>Origin Airport</option>

     <option value="depSydney">Sydney</option>
     <option value="depMelbourneTullamarine">Melbourne (Tullamarine)</option>
     <option value="depAdelaide">Adelaide</option>
     <option value="depBrisbane">Brisbane</option>
     <option value="depCairns">Cairns</option>
     <option value="depCanberra">Canberra</option>
     <option value="depDarwin">Darwin</option>
     <option value="depGoldCoast">Gold Coast</option>
     <option value="depHobart">Hobart</option>
     <option value="depLaunceston">Launceston</option>
     <option value="depMackay">Mackay</option>
     <option value="depMelbourneAvalon">Melbourne (Avalon)</option>
     <option value="depNewcastle">Newcastle - Port Stephens</option>
     <option value="depPerth">Perth</option>
     <option value="depTownsville">Townsville</option>




</select>

<label for="arrivalAirport" class="visually-hidden">Destination</label>
<select id="arrivalAirport" class='inner' name="arrivalAirport">
  <option value="" selected disabled>Destination Airport</option>

  <option value="arrSydney">Sydney</option>
  <option value="arrMelbourneTullamarine">Melbourne (Tullamarine)</option>
  <option value="arrAdelaide">Adelaide</option>
  <option value="arrBrisbane">Brisbane</option>
  <option value="arrCairns">Cairns</option>
  <option value="arrCanberra">Canberra</option>
  <option value="arrDarwin">Darwin</option>
  <option value="arrGoldCoast">Gold Coast</option>
  <option value="arrHobart">Hobart</option>
  <option value="arrLaunceston">Launceston</option>
  <option value="arrMackay">Mackay</option>
  <option value="arrMelbourneAvalon">Melbourne (Avalon)</option>
  <option value="arrNewcastle">Newcastle - Port Stephens</option>
  <option value="arrPerth">Perth</option>
  <option value="arrTownsville">Townsville</option>


</select>


    <!-- Departure Date Selector -->
<label for="departureDate" class="visually-hidden">Departure Date</label>
<input type="date" id="departureDate" class='inner' name="departureDate">

<!-- Return Date Selector
<label for="returnDate" class="visually-hidden">Return Date (Optional)</label>
<input type="date" id="returnDate" class='inner' name="returnDate"> -->

<button id="searchButton" class='outerRight' type="submit" name="action" value="searchFlights">Search</button>


</div>

</form>


<div id="contentHolder">

  <div class="card">
    <span class="title">How To Use & Things To Avoid </span>
    <span class="text">
        Begin by cloning the GitHub repository and having your 2Captcha API Key
        handy as that will be needed to bypass Rex and Jetstar ReCaptcha v2.
        <br><br>Install the packages listed in requirements.txt,
        <br>Undetected-Chromedriver is needed
        for Qantas and Virgin, whereas regular Chromedriver works for Jetstar and Rex.
        <br>Head to the initialisation line of Chromedriver/UC and edit the path to Chromedriver (for each airline).
        <br><br>Run the app:py file and head to http://127.0.0.1:port, with port
        being whatever port your Flask app is listening to.

        <br><br>NOTE: Running Virgin in headless mode will trigger an IP restriction.
        Currently only local host/environment is recommended with AWS web hosting coming in the future.

    </span>

  </div>

  <div class="card">
    <span class="title">How It Works?</span>
          <span class="text">
        Upon running the program and the user visits the root URL of the Flask scraper app,
        which allows the user to input origin/destination airport, as well as departure date
        (return logic coming soon). The program then runs the scraping logic based on the details
        the user has selected.
        <br><br>The entire process from selecting the origin to destination, along with the date
        is automated using Selenium.
        <br><br>Upon reaching the endpoint of flight data, the program scrapes
        relevant data including times and prices for each flight and then displays them on the HTML page.
        <br><br>NOTE: Some flights, typically longer/more expensive than the rest, are flights with connections offered
              by the airline <br>(on Qantas the result page will show the destination to be the destination of leg 1).
         </span>
  </div>

  </div>


</div>


</div>
<script src="{{ url_for('static', filename='js/script.js')}}"></script>
<script>
    document.addEventListener('DOMContentLoaded', function() {
        var today = new Date().toISOString().split('T')[0]; // Get today's date in YYYY-MM-DD format
        document.getElementById('departureDate').setAttribute('min', today); // Set the min attribute to today
    });
</script>
</body>
</html>
